In [1]:
# Import dependencies
import pandas as pd

#### Overall Membership Counts: End-of-the-Month

In [ ]:
# Orginal CSV from Blackbaud
months_end = pd.read_csv('Bakken_Resources/membership_count_all_year.csv')
months_end

In [ ]:
# Delete last two columns
months_end = months_end[['PROGRAM', 'BY']]
months_end

In [ ]:
months_end = months_end.drop([17])
months_end

In [ ]:
months_end

#### First and Last Days of the Months

In [9]:
count_1 = pd.read_csv('Bakken_Resources/count_1.csv')
count_1

,PROGRAM,BY,GROUPBY,DATERANGE
0,General Membership,Month,Membership Type,12/31/2019 to 1/1/2020
1,NaN,NaN,NaN,NaN
2,PERIOD,COUNTTOTAL,GROUPEDBYCOLUMN,COUNT
3,Dec-19,406,No Type,406
4,Jan-20,365,No Type,365
5,NaN,NaN,NaN,NaN
6,GROUPEDBYCOLUMN_label,GROUPEDBYCOLUMN_PERIOD_label,GROUPEDBYCOLUMN_PERIOD_Value_DataValue0,NaN
7,No Type,Dec-19,406,NaN
8,No Type,Jan-20,365,NaN

In [10]:
# Delete last two columns
count_1 = count_1[['PROGRAM', 'BY']]
count_1

                 PROGRAM                            BY
0     General Membership                         Month
1                    NaN                           NaN
2                 PERIOD                    COUNTTOTAL
3                 Dec-19                           406
4                 Jan-20                           365
5                    NaN                           NaN
6  GROUPEDBYCOLUMN_label  GROUPEDBYCOLUMN_PERIOD_label
7                No Type                        Dec-19
8                No Type                        Jan-20

In [11]:
# Drop rows 5 and on
count_1 = count_1[count_1.index < 5] 
count_1

              PROGRAM          BY
0  General Membership       Month
1                 NaN         NaN
2              PERIOD  COUNTTOTAL
3              Dec-19         406
4              Jan-20         365

In [12]:
# Drop first 3 rows and reset the index
count_1 = count_1[count_1.index > 2].reset_index()
count_1

   index PROGRAM   BY
0      3  Dec-19  406
1      4  Jan-20  365

In [16]:
# Drop index
count_1 = count_1[['PROGRAM', 'BY']]
count_1

  PROGRAM   BY
0  Dec-19  406
1  Jan-20  365