In [1]:
# Import dependencies
import pandas as pd

In [4]:
test = pd.read_csv('Bakken_Resources/june_count.csv')
test

,PROGRAM,BY,GROUPBY,DATERANGE
0,General Membership,Month,Membership Type,5/31/2020 to 6/1/2020
1,NaN,NaN,NaN,NaN
2,PERIOD,COUNTTOTAL,GROUPEDBYCOLUMN,COUNT
3,May-20,406,No Type,406
4,Jun-20,407,No Type,407
5,NaN,NaN,NaN,NaN
6,GROUPEDBYCOLUMN_label,GROUPEDBYCOLUMN_PERIOD_label,GROUPEDBYCOLUMN_PERIOD_Value_DataValue0,NaN
7,No Type,May-20,406,NaN
8,No Type,Jun-20,407,NaN